{% load media_tags %}

<div class="col-lg-3 col-sm-6 mb-3">
    <div class="item-card">
        <div class="item-thumb">
            <img src="{% mediapath product.image %}">
        </div>
        <div class="item-details">
            <h4><a href="{% url 'app_catalog:product_detail' pk=product.pk %}">{{ product.name }}</a></h4>
            <p>{{ product.description|truncatechars:100 }}</p>
            {% if product.get_active_version %}
                <p>Активная версия: {{ product.get_active_version.version_number }}</p>
            {% else %}
                <p>Активная версия: не указана</p>
            {% endif %}
            <div class="item-bottom-details d-flex justify-content-between">
                <div class="item-price">
                    {{ product.price }} ₽
                </div>
            </div>
        </div>
    </div>
</div>
