{% if products.has_other_pages %}
	<section class="main-content">
		<nav aria-label="Page navigation example">
			<ul class="pagination justify-content-center">
				{% if products.has_previous %}
					<li class="page-item">
						<a class="page-link"
						   href="?page={{ products.previous_page_number }}{% if category_id %}&category={{ category_id }}{% endif %}"
						   aria-label="Previous">
							<span aria-hidden="true">&laquo;</span>
						</a>
					</li>
				{% else %}
					<li class="page-item disabled">
						<a class="page-link" href="#" aria-label="Previous">
							<span aria-hidden="true">&laquo;</span>
						</a>
					</li>
				{% endif %}

				{% for i in products.paginator.page_range %}
					{% if products.number == i %}
						<li class="page-item active">
							<a class="page-link" href="#">{{ i }}</a>
						</li>
					{% else %}
						<li class="page-item">
							<a class="page-link"
							   href="?page={{ i }}{% if request.GET.category %}&category={{ request.GET.category }}{% endif %}">
								{{ i }}
							</a>
						</li>
					{% endif %}
				{% endfor %}

				{% if products.has_next %}
					<li class="page-item">
						<a class="page-link"
						   href="?page={{ products.next_page_number }}{% if request.GET.category %}&category={{ request.GET.category }}{% endif %}"
						   aria-label="Next">
							<span aria-hidden="true">&raquo;</span>
						</a>
					</li>
				{% else %}
					<li class="page-item disabled">
						<a class="page-link" href="#" aria-label="Next">
							<span aria-hidden="true">&raquo;</span>
						</a>
					</li>
				{% endif %}
			</ul>
		</nav>
	</section>
{% endif %}
