{% extends 'base.html' %}

{% block title %}
	Контакты
{% endblock %}

{% block content %}
	<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
		<h1 class="display-4">Контакты</h1>
	</div>

	<div class="container">
	{% if contacts %}
		<div class="row text-start">
			{% for contact in contacts %}
				<div class="col-lg-9 col-md-6 col-sm-12">
					<div class="card mb-4 box-shadow">
						<div class="card-body">
							<table class="table table-striped">
								<tr>
									<td class="w-25">Страна</td>
									<td>{{ contact.country }}</td>
								</tr>
								<tr>
									<td class="w-25">Город</td>
									<td>{{ contact.city }}</td>
								</tr>
								<tr>
									<td class="w-25">Адрес</td>
									<td>{{ contact.address }}</td>
								</tr>
							</table>
						</div>
					</div>
				</div>
			{% endfor %}

			<div class="col-lg-3 col-md-6 col-sm-12">
				<div class="card mb-4 box-shadow">
					<div class="card-header">
						<h4 class="my-0 font-weight-normal">Свяжитесь с нами</h4>
					</div>
					<div class="card-body">
						<form method="post" action="" class="form-floating" novalidate>
							{% csrf_token %}
							<div class="mb-3">
								{{ form.name.label_tag }} {{ form.name }}
								{% if form.name.errors %}
									<div class="invalid-feedback d-block">
										{{ form.name.errors|join:", " }}
									</div>
								{% endif %}
							</div>
							<div class="mb-3">
								{{ form.phone.label_tag }} {{ form.phone }}
								{% if form.phone.errors %}
									<div class="invalid-feedback d-block">
										{{ form.phone.errors|join:", " }}
									</div>
								{% endif %}
							</div>
							<div class="mb-3">
								{{ form.message.label_tag }} {{ form.message }}
								{% if form.message.errors %}
									<div class="invalid-feedback d-block">
										{{ form.message.errors|join:", " }}
									</div>
								{% endif %}
							</div>
							<button type="submit" class="btn btn-lg btn-block btn-outline-primary">Отправить</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	{% else %}
		<p>Контактные данные отсутствуют</p>
	{% endif %}
{% endblock %}
