{% extends 'base.html' %}

{% block title %}
	Создание товара
{% endblock %}

{% block content %}
	<section class="main-content">
		<div class="container">
			<h2>Создать товар</h2>
			<form method="post" enctype="multipart/form-data" novalidate>
				{% csrf_token %}
				<div class="mb-3">
					{{ form.name.label_tag }} {{ form.name }}
					{% if form.name.errors %}
						<div class="invalid-feedback d-block">
							{{ form.name.errors|join:", " }}
						</div>
					{% endif %}
				</div>
				<div class="mb-3">
					{{ form.description.label_tag }} {{ form.description }}
					{% if form.description.errors %}
						<div class="invalid-feedback d-block">
							{{ form.description.errors|join:", " }}
						</div>
					{% endif %}
				</div>
				<div class="mb-3">
					{{ form.image.label_tag }} {{ form.image }}
					{% if form.image.errors %}
						<div class="invalid-feedback d-block">
							{{ form.image.errors|join:", " }}
						</div>
					{% endif %}
				</div>
				<div class="mb-3">
					{{ form.category.label_tag }} {{ form.category }}
					{% if form.category.errors %}
						<div class="invalid-feedback d-block">
							{{ form.category.errors|join:", " }}
						</div>
					{% endif %}
				</div>
				<div class="mb-3">
					{{ form.price.label_tag }} {{ form.price }}
					{% if form.price.errors %}
						<div class="invalid-feedback d-block">
							{{ form.price.errors|join:", " }}
						</div>
					{% endif %}
				</div>
				<button type="submit" class="btn btn-lg btn-block btn-outline-primary">Создать</button>
			</form>
		</div>
	</section>
{% endblock %}
