{% extends 'base.html' %}

{% block title %}
	Каталог
{% endblock %}

{% block content %}
	<section class="main-content">
		<div class="container">
			<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
				<h1 class="display-4">{{ category.name|title }}</h1>
			</div>
			{% if products %}
				<div class="row">
					{% for product in products %}
						{% include 'app_catalog/includes/item_card.html' %}
					{% endfor %}
				</div>
			{% else %}
				<h3>Пока товаров нет</h3>
			{% endif %}
		</div>
	</section>
{% endblock %}