{% extends 'base.html' %}

{% block title %}
    {{ action }} товар
{% endblock %}

{% block header %}
    {{ action }} товар
{% endblock %}

{% block content %}
    <form method="post" enctype="multipart/form-data" novalidate>
        {% csrf_token %}
        <div class="row">
            <div class="col-md-6">
                {% for field in form %}
                    <div class="form-group">
                        {{ field.label_tag }}
                        {{ field }}
                        {% for error in field.errors %}
                            <div class="invalid-feedback d-block">
                                {{ error }}
                            </div>
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>

            <div class="col-md-6">
                {{ versions.management_form }}
                {% for version_form in versions %}
                    <div class="border p-3 mb-3">
                        {% for hidden_field in version_form.hidden_fields %}
                            {{ hidden_field }}
                        {% endfor %}
                        {% for visible_field in version_form.visible_fields %}
                            <div class="form-group">
                                {{ visible_field.label_tag }}
                                {{ visible_field }}
                                {% for error in visible_field.errors %}
                                    <div class="invalid-feedback d-block">
                                        {{ error }}
                                    </div>
                                {% endfor %}
                            </div>
                        {% endfor %}
                        {% if version_form.non_field_errors %}
                            <div class="alert alert-danger" role="alert">
                                {{ version_form.non_field_errors }}
                            </div>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        </div>
        <input type="submit" class="btn btn-success" value="{{ action }}">
    </form>
{% endblock %}
